<div class="app-content content">
    <div class="content-wrapper">

        <div class="content-header row mb-1">
            <div class="row col-12">
                <div class="content-header-left col-md-6 col-12 mb-2 breadcrumb-new" *ngIf="breadcrumb">
                    <h3 class="content-header-title mb-0 d-inline-block">{{breadcrumb.mainlabel}}</h3>
                    <div class="row breadcrumbs-top d-inline-block">
                        <div class="breadcrumb-wrapper col-12">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item" *ngFor="let link of breadcrumb.links">
                                    <a *ngIf="link.isLink" routerLink="{{link.link}}">{{link.name}}</a>
                                    <span *ngIf="!link.isLink">{{link.name}}</span>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="content-header-right col-md-6 col-12">
                    <button (click)="openInsertModal(InputModal)" id="button-anlegen"
                        class="btn btn-success btn-float round float-right"><i id="plus-icon"
                            class="la la-plus"></i></button>
                </div>
            </div>
        </div>
        <div class="content-body">

            <div class="card" *ngIf="kunden.length > 0">
                <div class="card-content">
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">E-Mail</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of kunden; index as i">
                                    <th scope="row">{{ i + 1 }}</th>
                                    <td>{{ user.name }} </td>
                                    <td>{{ user.email }}</td>
                                    <td>
                                        <button (click)="openUpdateModal(UpdateModal, user)" type="button"
                                            class="btn btn-success">
                                            <i class="feather ft-edit-2"></i>
                                        </button>
                                        <button (click)="openDeleteModal(DeleteModal, user)" type="button"
                                            class="btn btn-danger">
                                            <i class="feather ft-trash-2"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            <div *ngIf="kunden.length == 0">
                <h2>Es wurden noch keine Kunden angelegt</h2>
                <ngx-skeleton-loader count="5"></ngx-skeleton-loader>
            </div>
        </div>
    </div>
</div>


<!-- INSERT USER -->
<ng-template class="modal text-left" #InputModal let-d="dismiss">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title text-600" id="myModalLabel34">Kunden Anlegen</h3>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form [formGroup]="insertUserForm" (ngSubmit)="kundenAnlegen()">
            <div class="modal-body">
                <fieldset class="form-group floating-label-form-group">
                    <label for="name">Name</label>
                    <input [ngClass]="checkStatus(insertUserForm, 'name')" type="text" class="form-control" formControlName="name" placeholder="Name">
                    <!-- <control-messages [control]="insertUserForm.get('name')"></control-messages> -->
                </fieldset>
                <br>
                <fieldset class="form-group floating-label-form-group">
                    <label for="email">E-Mail</label>
                    <input [ngClass]="checkStatus(insertUserForm, 'email')" type="email" class="form-control" formControlName="email" placeholder="E-Mail">
                </fieldset>
                <br>
                <fieldset class="form-group floating-label-form-group">
                    <label for="password">Password</label>
                    <input [ngClass]="checkStatus(insertUserForm, 'password')" type="password" class="form-control" formControlName="password" placeholder="Password">
                </fieldset>
                <br>
            </div>
            <div class="modal-footer">
                <button type="reset" class="btn grey btn-outline-secondary btn-lg"
                    (click)="d('Close modal')">Abbrechen</button>
                <button (click)="d('Close modal')" type="submit" [disabled]="!insertUserForm.valid" class="btn btn-outline-primary btn-lg">Anlegen</button>
            </div>
        </form>
    </div>
</ng-template>

<!-- UPDATE USER -->
<ng-template class="modal text-left" #UpdateModal let-d="dismiss">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title text-600" id="myModalLabel34">Kunden Bearbeiten</h3>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form [formGroup]="updateUserForm" (ngSubmit)="editUser()">
            <div class="modal-body">

                <fieldset class="form-group floating-label-form-group">
                    <label for="name">Name</label>
                    <input [ngClass]="checkStatus( updateUserForm,'name')" type="text" class="form-control" formControlName="name" placeholder="Name">
                </fieldset>

                <br>

                <fieldset class="form-group floating-label-form-group">
                    <label for="email">E-Mail</label>
                    <input [ngClass]="checkStatus(updateUserForm, 'email')" type="email" class="form-control" formControlName="email" placeholder="E-Mail">
                </fieldset>

                <br>

                <fieldset class="form-group floating-label-form-group">
                    <label for="password">Password</label>
                    <input [ngClass]="checkStatus(updateUserForm, 'password')" type="password" class="form-control" formControlName="password" placeholder="Password">
                </fieldset>

                <br>

            </div>
            <div class="modal-footer">
                <button type="reset" class="btn grey btn-outline-secondary btn-lg"
                    (click)="d('Close modal')">Abbrechen</button>
                <button (click)="d('Close modal')" [disabled]="!updateUserForm.valid" type="submit" class="btn btn-outline-primary btn-lg">Ändern</button>
            </div>
        </form>
    </div>
</ng-template>

<!-- DELETE USER -->
<ng-template class="modal text-left" #DeleteModal let-d="dismiss">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title text-600" id="myModalLabel34">Kunden Löschen</h3>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form (ngSubmit)="delUser()">
            <div class="modal-body">
                <p>Sind Sie sicher, dass Sie diesen Benutzer dauerhaft entfernen möchten?</p>
            </div>
            <div class="modal-footer">
                <button type="reset" class="btn grey btn-outline-secondary btn-lg"
                    (click)="d('Close modal')">Abbrechen</button>
                <button (click)="d('Close modal')" type="submit" class="btn btn-outline-primary btn-lg">Löschen</button>
            </div>
        </form>
    </div>
</ng-template>