<div class="app-content content">
  <div class="content-wrapper">

    <div class="content-header row mb-1">
      <div class="row col-12">
        <div class="content-header-left col-md-6 col-12 mb-2 breadcrumb-new" *ngIf="breadcrumb">
          <h3 class="content-header-title mb-0 d-inline-block">{{breadcrumb.mainlabel}}</h3>
          <div class="row breadcrumbs-top d-inline-block">
            <div class="breadcrumb-wrapper col-12">
              <ol class="breadcrumb">
                <li class="breadcrumb-item" *ngFor="let link of breadcrumb.links">
                  <a *ngIf="link.isLink" routerLink="{{link.link}}">{{link.name}}</a>
                  <span *ngIf="!link.isLink">{{link.name}}</span>
                </li>
              </ol>
            </div>
          </div>
        </div>
        <div class="content-header-right col-md-6 col-12">
          <button *ngIf="this.authService.getRole == 'Mitarbeiter'" (click)="openInsertModal(InsertModal, ErrorModal)"
            id="button-anlegen" class="btn btn-success btn-float round float-right"><i id="plus-icon"
              class="la la-plus"></i></button>
        </div>
      </div>
    </div>

    <div class="content-body">

      <div class="card filter">
        <div class="card-content filter">
          <div class="card-header filter" *ngIf="checkGutachten() > 0">
            <div class="row text-center">
              <div class="col-sm-3"><b>Gutachtennr.</b> </div>
              <div class="col-sm-3"><b>Kennzeichen</b> </div>
              <div class="col-sm-3"><b>Unfalldatum</b></div>
              <div class="col-sm-3"><b>Status</b></div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="checkGutachten() == 0">
        <h2>Es wurden noch keine Gutachten angelegt</h2>
        <ngx-skeleton-loader count="4" [theme]="{'border-radius': '5px', height: '60px',border: '1px solid white'}"></ngx-skeleton-loader>
      </div>

      <app-gutachten-card *ngFor="let item of gutachten" (deleteRequest)="loadGutachten()"
        (updateRequest)="openUpdateModal(UpdateModal, item)" [data]="item">
      </app-gutachten-card>

    </div>
  </div>
</div>


<!-- Insert Gutachten -->
<ng-template class="modal modal-xl text-left" #InsertModal let-d="dismiss">
  <div class="modal-content">
    <div class="modal-header">
      <h3 class="modal-title text-600">Gutachten Anlegen</h3>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <form [formGroup]="GutachtenForm" (ngSubmit)="gutachtenAnlegen()">
      <div class="modal-body col-lg-12">

        <div class="row col-xl-12">
          <fieldset class="form-group floating-label-form-group col-lg-6">
            <label class="font-medium-2 text-bold-600" for="gnr">Gutachtennr.</label>
            <input [ngClass]="checkStatus(GutachtenForm, 'gnr')" type="text" class="form-control" formControlName="gnr"
              placeholder="Gutachtennr.">
          </fieldset>

          <fieldset class="form-group floating-label-form-group col-lg-6">
            <label class="font-medium-2 text-bold-600" for="knr">Kennzeichen</label>
            <input [ngClass]="checkStatus(GutachtenForm, 'kennzeichen')" type="text" class="form-control"
              formControlName="kennzeichen" placeholder="Kennzeichen">
          </fieldset>

        </div>

        <div class="row col-lg-12">

          <fieldset class="form-group col-lg-6">
            <label class="font-medium-2 text-bold-600" for="kunde">Kunde</label>
            <ng-select [ngClass]="checkStatus(GutachtenForm, 'user_nr')" name="kunde" [loading]="false"
              [items]="this.kunden" [searchable]="true" bindLabel="name" bindValue="id" formControlName="user_nr"
              placeholder="Kunden auswählen">
            </ng-select>
          </fieldset>


          <fieldset class="form-group floating-label-form-group col-lg-6">
            <label class="font-medium-2 text-bold-600" for="date">Unfalldatum</label>
            <input type="date" class="form-control" formControlName="unfalldatum" placeholder="Unfalldatum" required>
          </fieldset>
        </div>

        <div class="row col-lg-12">
          <fieldset class="form-group floating-label-form-group col-lg-12">
            <label class="font-medium-2 text-bold-600" for="bemerkung">Bemerkung</label>
            <textarea [ngClass]="checkStatus(GutachtenForm, 'bemerkung')" class="form-control"
              formControlName="bemerkung" placeholder="Bemerkung" rows="5"></textarea>
          </fieldset>

          <fieldset class="form-group col-lg-12">
            <label class="font-medium-2 text-bold-600" for="car">Auto</label>

            <ng-select formControlName="car" [searchable]="false" [clearable]="false" [items]="allCars" bindLabel="name"
              bindValue="val">
            </ng-select>

            <img class="col-lg-12" [src]="this.GutachtenForm.value.car" />

          </fieldset>

          <fieldset class="form-group col-lg-12">
            <label for="kosten" class="font-medium-2 text-bold-600">Kosten</label>

            <div class="col-lg-12 row">

              <div class="col-lg-4">

                <app-barchart-card [barChartData]="[{data: kosten}]"></app-barchart-card>

              </div>

              <div class="col-lg-8">
                <label for="Reperaturkosten">Reperaturkosten</label>
                <input type="number" class="form-control"
                  [(ngModel)]="kosten[0]" [ngModelOptions]="{standalone: true}" placeholder="Reperaturkosten">
                <br>

                <label for="Reperaturkosten">Wertminderung</label>
                <input type="number" class="form-control"
                [(ngModel)]="kosten[1]" [ngModelOptions]="{standalone: true}" placeholder="Wertminderung">
                <br>

                <label for="Reperaturkosten">SV-Kosten</label>
                <input type="number" class="form-control"
                [(ngModel)]="kosten[2]" [ngModelOptions]="{standalone: true}" placeholder="SV-Kosten">
                <br>

                <label for="Reperaturkosten">Fremdkosten</label>
                <input type="number" class="form-control"
                [(ngModel)]="kosten[3]" [ngModelOptions]="{standalone: true}" placeholder="Fremdkosten">
              </div>
            </div>

          </fieldset>

          <fieldset class="form-group col-lg-12">
            <label class="font-medium-2 text-bold-600" for="bemerkung">Dokumente</label>

            <div class="col-lg-12" (click)="fileInputSelector.click()">
              <label class="file center-block">
                <input type="file" #fileInputSelector style="display: none" (change)="onFilesAdded($event)" multiple>
                <input type="text" class="custom-file-input">
                <label class="custom-file-label">Dateien auswählen</label>
                <span class="file-custom"></span>
              </label>
            </div>

            <div class="row col-lg-12" *ngFor="let file of selectedFiles; let inx = index;"
              style="padding-bottom: 10px;">
              <div class="col-11">
                <input type="text" class="form-control" [(ngModel)]="selectedFiles[inx].name"
                  [ngModelOptions]="{standalone: true}">
              </div>

              <!-- <div class="col-4">
                <input type="text" class="form-control" placeholder="Dateityp eingeben"
                  [(ngModel)]="selectedFiles[inx].type" [ngModelOptions]="{standalone: true}">
              </div> -->

              <div class="col-1">
                <button type="button" class="btn btn-icon btn-danger" (click)="removeFile(inx)"><i
                    class="feather ft-x"></i></button>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="row col-lg-12">
          <fieldset class="form-group floating-label-form-group col-lg-12">
            <div class="float-right">
              <ui-switch formControlName="reperatur" class="switchery" switchColor="white" color="#1e9ff2">
              </ui-switch>
            </div>
            <label class="font-medium-2 text-bold-600">Reperatur</label>
          </fieldset>

          <fieldset class="form-group floating-label-form-group col-lg-12">
            <label class="font-medium-2 text-bold-600" for="bemerkung">Status</label>
            <ng-select formControlName="status" [searchable]="false" [clearable]="false" [items]="allStatus"
              bindLabel="name" bindValue="val">
            </ng-select>
          </fieldset>
        </div>
      </div>

      <div class="modal-footer">
        <button type="reset" class="btn grey btn-outline-secondary btn-lg" (click)="d('Close modal')">Abbrechen</button>
        <button type="submit" [disabled]="!GutachtenForm.valid" class="btn btn-outline-primary btn-lg"
          (click)="d('Close modal')">Anlegen</button>
      </div>
    </form>
  </div>
</ng-template>

<!-- UPDATE GUTACHTEN -->
<ng-template class="modal modal-xl text-left" #UpdateModal let-d="dismiss">
  <div class="modal-content">
    <div class="modal-header">
      <h3 class="modal-title text-600">Gutachten Verändern</h3>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <form [formGroup]="GutachtenForm" (ngSubmit)="gutachtenUpdaten()">
      <div class="modal-body col-lg-12">

        <div class="row col-xl-12">
          <fieldset class="form-group floating-label-form-group col-lg-6">
            <label class="font-medium-2 text-bold-600" for="gnr">Gutachtennr.</label>
            <input [ngClass]="checkStatus(GutachtenForm, 'gnr')" type="text" class="form-control" formControlName="gnr"
              placeholder="Gutachtennr.">
          </fieldset>

          <fieldset class="form-group floating-label-form-group col-lg-6">
            <label class="font-medium-2 text-bold-600" for="knr">Kennzeichen</label>
            <input [ngClass]="checkStatus(GutachtenForm, 'kennzeichen')" type="text" class="form-control"
              formControlName="kennzeichen" placeholder="Kennzeichen">
          </fieldset>

        </div>

        <div class="row col-lg-12">

          <fieldset class="form-group col-lg-6">
            <label class="font-medium-2 text-bold-600" for="kunde">Kunde</label>
            <ng-select [ngClass]="checkStatus(GutachtenForm, 'user_nr')" name="kunde" [loading]="false"
              [items]="this.kunden" [searchable]="true" bindLabel="name" bindValue="id" formControlName="user_nr"
              placeholder="Kunden auswählen">
            </ng-select>
          </fieldset>


          <fieldset class="form-group floating-label-form-group col-lg-6">
            <label class="font-medium-2 text-bold-600" for="date">Unfalldatum</label>
            <input type="date" class="form-control" formControlName="unfalldatum" placeholder="Unfalldatum" required>
          </fieldset>
        </div>

        <div class="row col-lg-12">
          <fieldset class="form-group floating-label-form-group col-lg-12">
            <label class="font-medium-2 text-bold-600" for="bemerkung">Bemerkung</label>
            <textarea [ngClass]="checkStatus(GutachtenForm, 'bemerkung')" class="form-control"
              formControlName="bemerkung" placeholder="Bemerkung" rows="5"></textarea>
          </fieldset>

          <fieldset class="form-group col-lg-12">
            <label class="font-medium-2 text-bold-600" for="car">Auto</label>

            <ng-select formControlName="car" [searchable]="false" [clearable]="false" [items]="allCars" bindLabel="name"
              bindValue="val">
            </ng-select>

            <img class="col-lg-12" [src]="this.GutachtenForm.value.car" />
          </fieldset>

          <fieldset class="form-group col-lg-12">
            <label for="kosten" class="font-medium-2 text-bold-600">Kosten</label>

            <div class="col-lg-12 row">

              <div class="col-lg-4">

                <app-barchart-card [barChartData]="[{data: kosten}]"></app-barchart-card>

              </div>

              <div class="col-lg-8">
                <label for="Reperaturkosten">Reperaturkosten</label>
                <input type="number" class="form-control"
                  [(ngModel)]="kosten[0]" [ngModelOptions]="{standalone: true}" placeholder="Reperaturkosten">
                <br>

                <label for="Reperaturkosten">Wertminderung</label>
                <input type="number" class="form-control"
                [(ngModel)]="kosten[1]" [ngModelOptions]="{standalone: true}" placeholder="Wertminderung">
                <br>

                <label for="Reperaturkosten">SV-Kosten</label>
                <input type="number" class="form-control"
                [(ngModel)]="kosten[2]" [ngModelOptions]="{standalone: true}" placeholder="SV-Kosten">
                <br>

                <label for="Reperaturkosten">Fremdkosten</label>
                <input type="number" class="form-control"
                [(ngModel)]="kosten[3]" [ngModelOptions]="{standalone: true}" placeholder="Fremdkosten">
              </div>
            </div>

          </fieldset>

          <fieldset class="form-group col-lg-12">
            <label class="font-medium-2 text-bold-600" for="bemerkung">Dokumente</label>

            <div class="col-lg-12" (click)="fileInputSelector.click()">
              <label class="file center-block">
                <input type="file" #fileInputSelector style="display: none" (change)="onFilesAdded($event)" multiple>
                <input type="text" class="custom-file-input">
                <label class="custom-file-label">Dateien auswählen</label>
                <span class="file-custom"></span>
              </label>
            </div>

            <div class="row col-lg-12" *ngFor="let file of selectedFiles; let inx = index;"
              style="padding-bottom: 10px;">
              <div class="col-7">
                <input type="text" class="form-control" [(ngModel)]="selectedFiles[inx].name"
                  [ngModelOptions]="{standalone: true}">
              </div>

              <!-- <div class="col-4">
                <input type="text" class="form-control" placeholder="Dateityp eingeben"
                  [(ngModel)]="selectedFiles[inx].type" [ngModelOptions]="{standalone: true}">
              </div> -->

              <div class="col-1">
                <button type="button" class="btn btn-icon btn-danger" (click)="removeFile(inx)"><i
                    class="feather ft-x"></i></button>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="row col-lg-12">
          <fieldset class="form-group floating-label-form-group col-lg-12">
            <div class="float-right">
              <ui-switch formControlName="reperatur" class="switchery" switchColor="white" color="#1e9ff2">
              </ui-switch>
            </div>
            <label class="font-medium-2 text-bold-600">Reperatur</label>
          </fieldset>

          <fieldset class="form-group floating-label-form-group col-lg-12">
            <label class="font-medium-2 text-bold-600" for="bemerkung">Status</label>
            <ng-select formControlName="status" [searchable]="false" [clearable]="false" [items]="allStatus"
              bindLabel="name" bindValue="val">
            </ng-select>
          </fieldset>
        </div>
      </div>

      <div class="modal-footer">
        <button type="reset" class="btn grey btn-outline-secondary btn-lg" (click)="d('Close modal')">Abbrechen</button>
        <button type="submit" [disabled]="!GutachtenForm.valid" class="btn btn-outline-primary btn-lg"
          (click)="d('Close modal')">Verändern</button>
      </div>
    </form>
  </div>
</ng-template>


<!-- ERROR MODAL -->
<ng-template class="modal text-left" #ErrorModal let-d="dismiss">
  <div class="modal-content">
    <div class="modal-header">
      <h3 class="modal-title text-600" id="myModalLabel34">Hinweis: Kein Kunde vorhanden</h3>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form (ngSubmit)="removeGutachten()">
      <div class="modal-body">
        <p>Es wurde noch kein Kunde angelegt.</p>
      </div>
      <div class="modal-footer">
        <button (click)="d('Close modal')" type="submit" class="btn btn-outline-primary btn-lg">Ok</button>
      </div>
    </form>
  </div>
</ng-template>