<footer id="footer" class="footer footer-static footer-light navbar-border navbar-shadow" *ngIf="showFooter">
  <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2"><span
      class="float-md-left d-block d-md-inline-block"> &copy; 2021 <a
        class="text-bold-800 grey darken-2" href="https://genese.io"
        target="_blank">Genèse </a></span></p>
</footer>

<footer id="footer" class="footer fixed-bottom footer-dark navbar-border navbar-shadow" *ngIf="!showFooter">
  <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2"><span
      class="float-md-left d-block d-md-inline-block">&copy; 2021 <a
        class="text-bold-800 grey darken-2" href="https://genese.io"
        target="_blank">Genèse</a></span></p>
</footer>
