<!-- <m-card [options]="options">
  <ng-container mCardHeaderTitle>
    <div class="row text-center">
      <div class="col-sm-3">{{data.gnr}}</div>
      <div class="col-sm-3">{{data.kennzeichen}}</div>
      <div class="col-sm-3">{{data.unfalldatum | date:'dd.MM.yyyy'}}</div>
      <div class="col-sm-3">{{data.status | status}}</div>
    </div>
  </ng-container>
  <ng-container mCardBody>
    <div class="row col-lg-12">
      <app-barchart-card class="col-lg-3"></app-barchart-card>
      <div class="card col-lg-9">
        <div class="card-content">
          <ngb-progressbar [value]="20" animated="true">{{data.status | status}}</ngb-progressbar>

          <mat-tab-group mat-align-tabs="center">
            <mat-tab label="Schaden">Schaden</mat-tab>
            <mat-tab label="Dokumente">
              <ngx-treeview [items]="items" [config]="basicConfig" >
              </ngx-treeview>
            </mat-tab>
            <mat-tab label="Bemerkung">{{data.bemerkung}}</mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </ng-container>
</m-card> -->


<div mCard #mCard class="card">
  <div class="card-header" #mCardHeader>
    <h4 class="card-title" #mCardHeaderTitle>


      <div class="row text-center">
        <div class="col-sm-3">{{data.gnr}}</div>
        <div class="col-sm-3">{{data.kennzeichen}}</div>
        <div class="col-sm-3">{{data.unfalldatum | date:'dd.MM.yyyy'}}</div>
        <div class="col-sm-3">{{data.status | status}}</div>
      </div>


    </h4>
    <a class="heading-elements-toggle" (click)="toggleMobileMenu()"><i class="la la-ellipsis-v font-medium-3"></i></a>
    <div class="heading-elements" #mCardHeaderTools>

      <ul class="list-inline mb-0">
        <li><a data-action="collapse"><i class="feather ft-plus" (click)="toggleCollpase($event)"></i></a></li>

        <li *ngIf="this.authService.getRole == 'Mitarbeiter'"><a data-action="edit"><i class="feather ft-edit-2"
              (click)="update($event)"></i></a>
        </li>

        <li *ngIf="this.authService.isMitarbeiter"><a data-action="close"><i class="feather ft-x"
              (click)="openDeleteModal(DeleteModal)"></i></a>
        </li>

      </ul>
    </div>
  </div>

  <div class="card-content collapse" #mCardContent>

    <div class="card-body" #mCardBody>

      <div class="row col-lg-12">
        <app-barchart-card [barChartData]="[{data: kosten}]" class="col-lg-3"></app-barchart-card>
        <div class="card col-lg-9">
          <div class="card-content">

            <ngb-progressbar [value]="20" animated="true">{{data.status | status}}</ngb-progressbar>

            <img class="col-lg-12" [src]="data.car" />

            <mat-tab-group mat-align-tabs="center">
              <mat-tab label="Dokumente">
                <!-- <ngx-treeview [items]="docs" [config]="basicConfig">
                </ngx-treeview>

                <p *ngFor="let item of docs">{{item.type}}</p> -->

                <p>Keine Dokumente verfügbar</p>
                
              </mat-tab>
              <!-- <mat-tab label="Schaden">Schaden</mat-tab> -->


              <mat-tab *ngIf="data.bemerkung != null && data.bemerkung != ''" label="Bemerkung">
                <textarea class="col-lg-12" rows="10" disabled>{{data.bemerkung}}</textarea>
              </mat-tab>

            </mat-tab-group>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<!-- DELETE MODAL -->
<ng-template class="modal text-left" #DeleteModal let-d="dismiss">
  <div class="modal-content">
      <div class="modal-header">
          <h3 class="modal-title text-600" id="myModalLabel34">Gutachten Löschen</h3>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <form (ngSubmit)="removeGutachten()">
          <div class="modal-body">
              <p>Sind Sie sicher, dass Sie diesen Gutachten dauerhaft entfernen möchten?</p>
          </div>
          <div class="modal-footer">
              <button type="reset" class="btn grey btn-outline-secondary btn-lg"
                  (click)="d('Close modal')">Abbrechen</button>
              <button (click)="d('Close modal')" type="submit" class="btn btn-outline-primary btn-lg">Löschen</button>
          </div>
      </form>
  </div>
</ng-template>