:host ::ng-deep .barchart .chartjs-render-monitor {
    -webkit-animation: chartjs-render-animation 0.001s;
    animation: chartjs-render-animation 0.001s;

}
:host ::ng-deep .block-ui-wrapper {
  background: rgba(255, 249, 249, 0.5) !important;
}
@media(max-width:767px) {
  :host ::ng-deep .chart
   {
    height:400px !important;
  }
}