<ng-container mCardHeaderTitle>
    Kosten
</ng-container>
<ng-container mCardBody>
    <div>
        <canvas class="barchart" height="300" baseChart [datasets]="barChartData" [labels]="barChartLabels"
            [colors]="barChartColors" [legend]="barChartLegend"
            [chartType]="barChartType"></canvas>
    </div>
</ng-container>