<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-header row mb-1">
      <app-breadcrumb class="col-12" [breadcrumb]="breadcrumb"></app-breadcrumb>
    </div>
    <div class="content-body">
      <section id="base-style">
        <div class="row">
          <div class="col-12" *blockUI="'baseStyle'; message: 'Loading'">

            <div class="card">
              <div class="card-body">
                <div class="card-dashboard">

                  <form class="form form-horizontal striped-rows form-bordered" [formGroup]="personalInfo">
                    <div class="form-body">
                      <h4 class="form-section"><i class="feather ft-user"></i> Persönliche Informationen</h4>

                      <div class="form-group row mx-auto">
                        <label class="col-md-3 label-control" for="lastName">Name&nbsp;</label>
                        <div class="col-md-9">
                          <input type="text" class="form-control" formControlName="name" placeholder="Name">
                        </div>
                      </div>
                      <div class="form-group row mx-auto">
                        <label class="col-md-3 label-control" for="email">E-Mail Addresse&nbsp;</label>
                        <div class="col-md-9">
                          <input type="text" class="form-control" formControlName="email" placeholder="E-Mail Addresse">
                        </div>
                      </div>
                    </div>
                  </form>

                </div>
              </div>
            </div>


            <div class="card">
              <div class="card-body">
                <div class="card-dashboard">

                  <form class="form form-horizontal striped-rows form-bordered" [formGroup]="changePassword">

                    <div class="form-body">
                      <h4 class="form-section"><i class="feather ft-user"></i> Passwort ändern</h4>
                      <div class="form-group row mx-auto">
                        <label class="col-md-3 label-control" for="currentPasswort">Aktuelles Passwort&nbsp;</label>
                        <div class="col-md-9">
                          <input type="password" class="form-control" formControlName="currentPasswort"
                            placeholder="Aktuelles Passwort">
                        </div>
                      </div>
                      <div class="form-group row mx-auto">
                        <label class="col-md-3 label-control" for="newPasswort">Neues Passwort&nbsp;</label>
                        <div class="col-md-9">
                          <input type="password" class="form-control" formControlName="newPasswort"
                            placeholder="Neues Passwort">
                        </div>
                      </div>
                      <div class="form-group row mx-auto">
                        <label class="col-md-3 label-control" for="confirmPasswort">Passwort bestätigen&nbsp;</label>
                        <div class="col-md-9">
                          <input type="password" class="form-control" formControlName="confirmPasswort"
                            placeholder="Passswort bestätigen">
                        </div>
                      </div>
                    </div>
                    <br>
                    <button id="button-anlegen" class="btn btn-success btn-float round float-right">Passwort ändern</button>

                  </form>


                </div>
              </div>
            </div>



          </div>
        </div>
      </section>
    </div>
  </div>
</div>